.main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.side-bar {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0vw;
  z-index: 100;
  transition: margin-left ease 0.3s;
}
.side-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  margin: auto 0;
}

button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

.button {
  padding: 8px;
  background-color: var(--bg-color);
  margin: 0.2rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: auto;
  cursor: pointer;
  font-weight: 600;
}

.generate {
  background-color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  transition: all ease 0.2s;
  margin-bottom: 0.4rem;
}

h3 {
  height: auto;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
h4 {
  height: auto;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.size,
.speed {
  height: auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.speed div,
.size div {
  text-align: center;
}
.speed div span,
.size div span {
  font-size: 1rem;
  padding: 8px;
  font-weight: 600;
}
.speed div button,
.size div button {
  height: auto;
  padding: 0 5px;
  margin-right: 5px;
  font-size: 0.8rem;
}

.visualizer-area {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: width ease 0.3s;
  height: 100vh;
}
.title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.title p {
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
.array-bar-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.array-bar {
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 3px;
}

.header {
  background-color: var(--primary-color);
  box-sizing: border-box;
  height: 2.5rem;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header i {
  cursor: pointer;
}

/* 
@media only screen and (max-width: 800px) {
  .side-bar {
    margin-left: -25vw;
  }
  .visualizer-area {
    width: 100vw;
  }
} */

@media only screen and (max-width: 800px) {
  .side-bar {
    margin-left: -25vw;
  }
  .visualizer-area {
    width: 100vw;
  }
}

@media only screen and (max-width: 601px) {
  .main {
    height: 90vh;
  }
  .side-bar-container {
    height: 80%;
  }
  .side-bar {
    width: 50vw;
  }
  .button {
    padding: 4px;
    margin: 0.4rem 0.1rem;
  }

  .generate {
    font-size: 0.8rem;
    margin-bottom: 0.5rem 0.2rem;
  }
  h3 {
    height: auto;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  h4 {
    height: auto;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
  .size,
  .speed {
    padding: 0.8rem;
  }
  .speed div span,
  .size div span {
    font-size: 0.8rem;
    padding: 6px;
  }
  .speed div button,
  .size div button {
    padding: 0 2px;
    margin-right: 2px;
    font-size: 0.8rem;
  }
  .title p {
    font-size: 0.8rem;
  }
  .array-bar {
    margin-right: 2px;
  }
}
