.main {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
}

.side-bar {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.side-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  margin: auto 0;
}

.button {
  padding: 10px;
  background-color: var(--icon-color);
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  height: 2rem;
  cursor: pointer;
}

.visualizer-area {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.array-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.array-bar {
  display: inline-block;
  background-color: blueviolet;
  margin-right: 2px;
}
