.main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.side-bar {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}
.side-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  margin: auto 0;
}
button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

.button {
  padding: 10px;
  background-color: var(--bg-color);
  margin: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: auto;
  cursor: pointer;
  font-weight: 600;
}

.generate {
  background-color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  transition: all ease 0.2s;
}

h3 {
  height: auto;
  font-size: 2rem;
  margin-bottom: 2rem;
}
h4 {
  height: auto;
  margin-bottom: 0.5rem;
}
.size,
.speed {
  height: auto;
  padding: 1rem;
}
.speed div,
.size div {
  display: inline;
  text-align: center;
}
.speed div span,
.size div span {
  font-size: 1rem;
  padding: 10px;
  font-weight: 600;
  width: 100px;
}
.speed div button,
.size div button {
  height: auto;
  padding: 0 5px;
  margin-right: 5px;
  font-size: 1rem;
}

.visualizer-area {
  background-color: white;
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.title p {
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
.array-bar-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.array-bar {
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 3px;
}
