* {
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --text-color: #717579;
  --primary-color: #35f3e0;
  --header-size: 1.5rem;
  --main-text-size: 1rem;
  --text-size: 0.8rem;
  --bg-color: #cce0ff80;
  --button-padding: 0.5rem;
}
